

<router-outlet></router-outlet>

<!-- <h1>{{d}}</h1> -->
<!-- <p>{{20*20}}</p> -->
 <!-- Name :<input type="text">
 Mobile : <input type="number" [hidden]="ishidden">

 <img [src]=path>

<button [disabled]=isdisabled>Submit</button>  -->

<!-- <h1 [class]="isactive?'active':'Inactive'">Nani</h1>

<h1 [class]="['c1','active','colorBg']">Naresh</h1>  -->
<!-- multiple css color property -->

<!-- <h1 [class.Inactive]=isactive>Naresh Nani</h1> -->

<!-- <h1 style="color:{{cvtr}}">Rakesh</h1> -->
<!-- <h1 [style.color]="cvtr">Rakesh</h1>
 
<h1 [style]="mystyle">This is Naresh</h1>

<h1 [style.color]="iscolor?'red':'green'">This is Naresh</h1> -->

<!-- 
<h1>Count: {{counter}}</h1>
<button (click)="increment()">Incerment</button>
<button (click)="decrement()">Decrement</button>


Name: <input type="text" (input)="chanageName($event)">
<h1>this is {{name}}</h1> -->


<!-- Two way Binding Like Form --> 

<!-- <input type="text" [(ngModel)]=city> -->
<!-- 
<p>{{city}}</p>
<button (click)="submitChange()">Submit</button> -->

<!-- structual directives -->

<!-- ngif  -->
<!-- we can add/remove Dom Elemenet based on Condition -->

<!-- <h1 *ngIf="show">Welcome</h1> -->


<!-- ngFor -->

<!-- <table border="1">
    <tr *ngFor="let m of movies">
        <td >{{m}}</td>
    </tr>
</table> -->

<!-- attribute directives -->
<!-- like ngModel
ng style 
ng class -->



<!-- ngIf -->

<!-- <h1 *ngIf="!dataValue">Loding...</h1>

<div *ngIf="dataValue">{{dataValue}}</div>

<h1 *ngIf="!data; else sample">loding...</h1> -->


<!-- <ng-template></ng-template> -->
<!-- means else ki tesikutham -->

<!-- sample means template reference -->

<!-- <ng-template #sample>
    {{data}}
</ng-template> -->

<!-- ngif than condtion on else -->

<!-- <h1 *ngIf="!datanet; then load; else sample"></h1>

<ng-template #sample>
    {{datanet}}
</ng-template>

<ng-template #load>
    reloading..
</ng-template> -->


<!-- ngFor 
Wecan Modify Dom structure
Loop over an array to show data on html template -->

<!-- <h1 *ngFor="let m of arr ">This is Eppakayala {{m}}</h1>
<h1 *ngFor="let m of arr;index as i">This is Eppakayala {{m}} {{i}}</h1>


<table border="2">
    <tr>
    <td>content</td>
    <td>index</td>
    <td>even</td>
    <td>odd</td>
    <td>first</td>
    <td>last</td>
</tr>
    <tr *ngFor="let m of arrElement;index as i; even as e;odd as o; first as f; last as l">
        <td>
     {{m}}
        </td>
        <td>
            {{i}}
        </td>
    
               <td>
                   {{e}}
               </td>
               <td>
                {{o}}
                   </td>
                   <td>
                       {{f}}
                   </td>
                   <td>
                    {{l}}
                </td>

    </tr>

</table>















<table border="2">
    <tr>
    <td>id</td>
    <td>Name</td>
    <td>Price</td>
    <td>Ram</td>
    <td>storage</td>
   </tr>
    <tr *ngFor="let m of arrElement">
        <td>
         {{m.Id}}
        </td>
        <td>
            {{m.Name}}
        </td>
               <td>
                   {{m.Price}}
               </td>
               <td>
                {{m.Ram}}
                   </td>
                   <td>
                       {{m.storage}}
                   </td>
                
    </tr>

</table> -->